{% extends 'base.html.twig' %}
{% block title 'All Properties' %}

  {% block body %}
      <!-- Hero Section Begin -->
      <section class="hero-section">
          <div class="single-hero-item-properties set-bg" data-setbg="{{ asset('img/panorama.jpg') }}">
          </div>
      </section>
      <!-- Hero Section End -->
      <div class="search-form">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="search-form-text">
                          <div class="search-text">
                              <i class="fa fa-search"></i>
                              Find Your Home
                          </div>
                          <div class="home-text">
                              <i class="fa fa-home"></i>
                              House For Sell
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="form-container">
                          {{ form_start(form) }}
                          <div class="form-row">
                              <div class="col-md-2">
                                  {{ form_row(form.minSurface) }}
                              </div>
                              <div class="col-md-2">
                                  {{ form_row(form.maxPrice) }}
                              </div>
                              <div class="col-md-2">
                                  {{ form_row(form.options) }}
                              </div>
                              <div class="col-md-2">
                                  <div class="form-group">
                                      <button class="btn btn-success">
                                          Rechercher
                                      </button>
                                  </div>

                              </div>
                          </div>
                          {{ form_end(form) }}
                      </div>
                  </div>

              </div>
          </div>
      </div>

      <div class="container properties-grid">
          <div class="row">
              {% for property in properties %}
                  <div class="col-md-4">
                      {% include('pages/agency/_property.html.twig') %}
                  </div>
              {% endfor %}
          </div>
          <div class="pagination">
              {{ knp_pagination_render(properties) }}
          </div>
      </div>
      <header class="header-section">
          <div class="nav-logo">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-3">
                          <div class="logo">
                              <span>WEB-IMMO .co</span>
                          </div>
                      </div>
                      <div class="col-lg-9">
                          <div class="nav-logo-right">
                              <ul>
                                  <li>
                                      <i class="icon_phone"></i>
                                      <div class="info-text">
                                          <span>Phone:</span>
                                          <p>(+12) 345 6789</p>
                                      </div>
                                  </li>
                                  <li>
                                      <i class="icon_map"></i>
                                      <div class="info-text">
                                          <span>Address:</span>
                                          <p>16 Creek Ave, <span>NY</span></p>
                                      </div>
                                  </li>
                                  <li>
                                      <i class="icon_mail"></i>
                                      <div class="info-text">
                                          <span>Email:</span>
                                          <p>Info.cololib@gmail.com</p>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <!-- Partner Carousel Section Begin -->
      <div class="partner-section">
          <div class="container">
              <div class="partner-carousel owl-carousel">
                  <a href="#" class="partner-logo">
                      <div class="partner-logo-tablecell">
                          <img src="{{ asset('img/partner/partner-1.png') }}" alt="">
                      </div>
                  </a>
                  <a href="#" class="partner-logo">
                      <div class="partner-logo-tablecell">
                          <img src="{{ asset('img/partner/partner-2.png') }}" alt="">
                      </div>
                  </a>
                  <a href="#" class="partner-logo">
                      <div class="partner-logo-tablecell">
                          <img src="{{ asset('img/partner/partner-3.png') }}" alt="">
                      </div>
                  </a>
                  <a href="#" class="partner-logo">
                      <div class="partner-logo-tablecell">
                          <img src="{{ asset('img/partner/partner-4.png') }}" alt="">
                      </div>
                  </a>
                  <a href="#" class="partner-logo">
                      <div class="partner-logo-tablecell">
                          <img src="{{ asset('img/partner/partner-5.png') }}" alt="">
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <!-- Partner Carousel Section End -->

      <!-- Footer Section Begin -->
      <footer class="footer-section set-bg" data-setbg="{{ asset('img/footer-bg.jpg') }}">
          <div class="container">
              <div class="footer-text">
                  <div class="row">
                      <div class="col-lg-3">
                          <div class="footer-logo">
                              <p>Subscribe our newsletter gor get notification about new updates.</p>
                              <form action="#" class="newslatter-form">
                                  <input type="text" placeholder="Enter your email...">
                                  <button type="submit"><i class="fa fa-location-arrow"></i></button>
                              </form>
                          </div>
                      </div>
                      <div class="col-lg-3 offset-lg-1">
                          <div class="footer-widget">
                              <h4>Property City</h4>
                              <ul>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                              </ul>
                              <ul>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                                  <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-2">
                          <div class="footer-widget">
                              <h4>Social</h4>
                              <ul class="social">
                                  <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                                  <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                                  <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                                  <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="footer-widget">
                              <h4>Contact Us</h4>
                              <ul class="contact-option">
                                  <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                                  <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                                  <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                                  <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="copyright-text">
                  <p>
                  <p>
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                      All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                              href="https://colorlib.com" target="_blank">Colorlib</a>
                  </p>
              </div>
          </div>
      </footer>
  {% endblock %}
