<html>
<body>
<div>
    <table class="table" role="presentation">
        <tbody>
        <tr>
            <td><p style="color: #0f6674;">Demande de contact {{ contact.property.title }}</p>
                <p>A propos du bien : <a href="{{ url('property.show', {
                        id: contact.property.id,
                        slug:contact.property.slug
                    }) }}">{{ contact.property.title }}</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table class="table" role="presentation">
        <tr>
            <td>First name</td>
            <td>{{ contact.firstname }}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{ contact.lastname }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ contact.phone }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>{{ contact.message|nl2br }}</td>
        </tr>
    </table>
</div>
</body>
</html>